thead {
    color: #337AB7
}
.wholePage{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.sideFavourites{
    border:black 2px solid;
    
}


@media only screen and (max-width: 980px){
    .wholePage{
        display:grid;
        grid-template-columns: 1fr;
    }

    .sideFavourites{
        min-height: 200px;
    }
}

h3{
    color: #007bff;
}