<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav pills'>
        <li><a class='nav-link'
               [routerLink]="['/welcome']">Home</a></li>
        <li><a class='nav-link'
               [routerLink]="['/products']">Product List</a></li>
    </ul>
</nav>
<router-outlet>
<router-outlet>
<div class='sidebar' style='float: right;margin: 20px;border:solid 5px;border-color: blue;border-radius: 10px'>
    <h1>Glupost</h1>
</div>